/*
morado:
#bd78fc
#592E83
celeste: 
#99ccff
gris bg:
#e6e6e6
gris negro:
#353535
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    opacity: 0; 
    animation: fadeIn 1s ease-in forwards; 
}

@keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }

.icon-menu{ 
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: fixed;
}
.icon-close{
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 6px;
}
.icon-close img{
    filter: brightness(100%) invert(100%);
}

#btn-menu{
    display: none; 
}

.container-menu{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.189);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background-color: #353535;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #bd78fc;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
background: #e6e6e6;
}

.intro{
    width: 100%;
    height: 100vh;
}
.intro-person{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    height: 60vh;
}
.person-img{
    width: 250px;
    height: 250px;
}
  

.img-perfil{
    background-color: #99ccff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.person-name{
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

.text-profesion{
    color: #bd78fc;
}

.intro-bio{
    display: flex;
    justify-content: center;
}
.bio-text{
    width: 60%;
    text-align: left;
}

.text-p{
    font-size: 20px;
}

.next{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-btn{
width: 30px;
height: 30px;
transform: rotate(-90deg);
}

.section{
    width: 100%;
    height: 100vh;
}

.row-1{
display: flex;
}

.row-text{
    display: flex;
    height: 50vh;
    width: 50%;
    background-color: #bd78fc;
    color: white;
    font-size: 80px;
    font-weight: bold;
    overflow: hidden;
    align-items: center;
    text-align: center;
}
.service-text{
    width: 100%;
    padding: 10px;
}
.row-img{
    width: 50%;
    height: 50vh;
}

.row-title{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.group-img{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.img-content{
    width: 350px;
    height: 350px;
    background-color: #bd78fc;
}

.section-title{
    display: flex;
    padding-left: 20px;
}

.knowledge{
    display: flex;
}
.column{
    padding: 20px;
    width: 50%;
    height: 80vh;
}

.column-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.column-text{
    font-size: 25px;
}

.group-apps{
    width: 100%;
    height: 100%;
}

.app-row{
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.app-content{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
}

.app-content img{
    width: 200px;
}


@media (max-width: 1000px) {

    .icon-menu{ 
        width: 40px;
        height: 40px;
    }
    .intro{
        width: 100vw;
        height: 100vh;
        margin-bottom: 100px;
    }
    .intro-person{
        display: block;
        height: 40vh;
    }
    .person-img{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .img-perfil{
        width: 250px;
        height: 250px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .person-name{
        margin-top: 60px;
        font-size: 15px;
    }

    .bio-text{
        margin-top: 120px;
        width: 80%;
        text-align: left;
    }
    
    .text-p{
        font-size: 20px;
    }
    .next{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-content{
        width: 150px;
        height: 150px;
        background-color: #bd78fc;
    }
    .app-content{
        width: 100px;
        height: 100px;
    }
    
    .app-content img{
        width: 100px;
    }
    .services{
        width: 100vw;
    }
    .section{
        width: 100vw;
    }
    .knowledge{
        display: block;
    }
  }